// Pulling these images from Unsplash
// Toshi the dog from https://unsplash.com/@charlesdeluvio - what a funny dog...

.bg-login-image {

  background-position: center;
  background-size: cover;

  &.img1{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/7357/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img2{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/1181622/pexels-photo-1181622.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  }
  &.img3{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/669616/pexels-photo-669616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img4{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img5{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img6{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/301930/pexels-photo-301930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img7{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img8{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/1181316/pexels-photo-1181316.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img9{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img10{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/169677/pexels-photo-169677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  }

}

.bg-register-image {
  background: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800');
  background-position: center;
  background-size: cover;

  background-position: center;
  background-size: cover;

  &.img1{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/7357/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img2{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/1181622/pexels-photo-1181622.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  }
  &.img3{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/669616/pexels-photo-669616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img4{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img5{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/258160/pexels-photo-258160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img6{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/301930/pexels-photo-301930.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img7{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img8{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/1181316/pexels-photo-1181316.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img9{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }
  &.img10{
    background-position: center;
    background-size: cover;
    background: url('https://images.pexels.com/photos/169677/pexels-photo-169677.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  }

}

.bg-password-image {
  background: url('https://source.unsplash.com/oWTW-jNGl9I/600x800');
  background-position: center;
  background-size: cover;
}

.bg-gradient-yellow-to-green{
    background: url('../img/bg-gradient-yellow-to-green.png');
    background-position: left;
    background-size: contain;
    background-repeat: repeat-x;
}

form.user {

  .custom-checkbox.small {
    label {
      line-height: 1.5rem;
    }
  }

  .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
  }

  .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }

}

.btn-google {
  @include button-variant($brand-google, $white);
}

.btn-facebook {
  @include button-variant($brand-facebook, $white);
}
